$(".maybe_notice").fadeOut();
$("#attend").before('<div class="maybe_notice">You might be attending this event!</div>');
<% if !@no_change%>
$(".attend_notice").fadeOut();
$("#attendees_count").html("<%= pluralize(@event.attendings.count, 'Person') %> Attending");
$("#attendees_list").html('<% @event.attendings.each do |attending| %><li><%= link_to User.find(attending.user_id).name, User.find(attending.user_id) %> <div id="status"><%= attending.status %></div></li><% end %>');
<% end %>


<% if @event.facebooklink%>
	$(".maybe_notice").fadeOut();
	$("#attend").before('<div class="maybe_notice">You might be attending this event!</div>');
	<% if !@no_change%>
	$(".attend_notice").fadeOut();
	$("#attendees_count").html("<%= pluralize(@attendings.count, 'Person')%> might be attending");
	$("#attendees_list").html('<% @attendings.each do |attending| %><li><%= link_to attending[:name], '#' %></li><% end %>');
	$("#maybe_count").html('<%= pluralize(@maybes.count, 'Person')%> might be attending');
	$("#maybe_list").html('<% @maybes.each do |attending| %><li><%= link_to attending[:name], '#' %></li><% end %>');
	<% end %>

<% else%>
	$(".maybe_notice").fadeOut();
	$("#attend").before('<div class="maybe_notice">You might be attending this event!</div>');
	<% if !@no_change%>
	$(".attend_notice").fadeOut();
	$("#attendees_count").html("<% if @event.attendings.find_all_by_status("Attending").kind_of?(Array) %><%= pluralize(@event.attendings.find_all_by_status('Attending').count, 'Person') %> Attending<% elsif @event.attendings.find_all_by_status("Attending").nil? %>0 People Attending<% else%>1 Person Attending<% end %>");
	$("#attendees_list").html('<% if @event.attendings.find_all_by_status("Attending").nil? %><% elsif @event.attendings.find_all_by_status("Attending").kind_of?(Array) %><% @event.attendings.find_all_by_status("Attending").each do |attending| %><li><%= link_to User.find(attending.user_id).name, User.find(attending.user_id) %> </li><% end %><% else%><li><%= link_to User.find(@event.attendings.find_all_by_status("Attending").user_id).name, User.find(@event.attendings.find_all_by_status("Attending").user_id) %> </li><% end %>');
	$("#maybe_count").html('<% if @event.attendings.find_all_by_status("Maybe").kind_of?(Array) %><%= pluralize(@event.attendings.find_all_by_status('Maybe').count, 'Person')%> Might Be Attending<% elsif @event.attendings.find_all_by_status("Maybe").nil? %>0 People Might Be Attending<% else%>1 Person Might Be Attending<% end %>');
	$("#maybe_list").html('<% if @event.attendings.find_all_by_status("Maybe").nil?%><% elsif @event.attendings.find_all_by_status("Maybe").kind_of?(Array) %><% @event.attendings.find_all_by_status("Maybe").each do |attending| %><li><%= link_to User.find(attending.user_id).name, User.find(attending.user_id) %> </li><% end %><% else%><li><%= link_to User.find(@event.attendings.find_all_by_status("Maybe").user_id).name, User.find(@event.attendings.find_all_by_status("Maybe").user_id) %> </li><% end %>');
	<% end %>
<% end %>
