<div id="signinpage">
	<div id="signinpage_facebook_signin">
		<p id="facebook_signin_title">Sign in with Facebook!</p>
		<div id="facebooklogin"><a href="/auth/facebook"><fb:login-button>Sign in</fb:login-button></a></div>
	</div>
<div id="custom_signin">
<div id="signinpage_title">Or without it!</div>
<%= form_for(:session, :url => sessions_path) do |f| %>
	<div id=error_explanation><%= @invalid %></div>
  <ul>
  	<li>
    <p><%= f.label :email %></p>
    <%= f.text_field :email %>
    </li>
  <li>
    <p><%= f.label :password %></p>
    <%= f.password_field :password %>
  </li>
  <li>
    <%= f.submit "Sign in", :class => "submitter" %>
  </li>
  </ul>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
</div>
