<div id="signinpage">
<h1>Sign in</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <ul>
  	<li>
    <%= f.label :email %>
    <%= f.text_field :email %>
    </li>
  <li>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </li>
  <li>
    <%= f.submit "Sign in" %>
  </li>
  </ul>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
