<p>Type in the Facebook Event ID</p>

<h3>Categories for Events</h3>
<p>['Greek Life', 1], ['Theater', 2], ['Sports', 3], ['Politics', 4], ['Career Networking', 5], ['Arts', 6], ['Community Service', 7], ['Student Council', 8], ['Cultural', 10], ['Special Interest', 11], ['Other', 9]]</p>

<h4>Make a new event from Facebook!</h4>
<p>Type in the Facebook ID and hit submit</p>
<% form_tag({:controller => 'admin', :action => 'create'}) do %>
<%= text_field_tag :id, params[:id]%>
<%= submit_tag 'Submit' %>
	
<% end %>

<h4>Change category of an event!</h4>
<p>Just type in the ID of the event (listed below) and then select a category!</p>
<%= form_tag({:controller => 'admin', :action => 'update'}) do%>
<p>Event ID</p>
<%= text_field_tag :id, params[:id]%>
<p>Category</p>
<%= select_tag :category, options_for_select({'Greek Life' => 1, 'Theater' => 2, 'Sports' => 3, 'Politics' => 4, 'Career Networking' => 5, 'Arts' => 6, 'Community Service' => 7, 'Student Council' => 8, 'Cultural' => 10, 'Special Interest' => 11,'Academics'=> 14, 'NYC Events' => 13, 'Academics' => 12, 'Other' => 9})%>
<%= submit_tag 'Submit'%>
<% end %>



<% @events.each do |event| %>
<% if !event.deleted && event.name && event.category %>
<p><%= link_to event.name, event %>  Category: <%= @categories[event.category] %> ID:<%= event.id%> <%= link_to 'Delete', {:controller => 'admin', :action => 'destroy', :id => event.id.to_s}%></p>
<% end %>
<% end %>
