<script type="text/javascript">
	$(document).ready(function(){
		$('a.delete').click(function(){
			if(confirm("Are you sure you want to delete this event?")){
				$.post(this.href, { _method: 'delete' }, null, "script");
				
				return false;
			}
		});
	});
</script>

<ul id="catshowpage">

<% @array_of_events.each do |event| %>
<li id="<%= event.id%>"><a href="/events/<%= event.id %>">
	<% if event.facebooklink %>
	<img src="https://graph.facebook.com/<%= event.facebooklink%>/picture?type=normal" width="100"></img>
	<% elsif event.photo.file? %>
	<%= image_tag event.photo.url(:small), :width => 100 %>
	<% else %>
	<%= image_tag ("bowl3.jpg"), :height => 70, :width => 100 %>
	<% end %>
</a>

<div id="eventwords">
	<% if signed_in? %>
	<% if @user == current_user %>
	<%= link_to "x", event, :class => "delete"%>
	<% end %>
	<% end %>
	<p id="event_title"><%= event.name %></p>
	<% if !event.author.eql?("")%>
	<div id="author"><%= event.user.name%></div>
	<% elsif event.user %>
	<div id="author"><%= event.user.name%></div>
	<% end %>
	<div id="when">
	<% if event.date %>
	On <%= @months[event.date.month - 1] %> <%= event.date.day %>, <%= event.date.year %> at <%= event.time.strftime("%I:%M %p")%> <br />
	<% end %>
	<i><%= event.description %></i> <br />
	<% if event.facebooklink%>
	<a href="http://www.facebook.com/event.php?eid=<%= event.facebooklink %>"><b>Link to Facebook Event</b></a>	
	<% end %>
	</div>
</div>
</li>
<% end %>
</ul>

<script type="text/javascript">
$(document).ready(function(){
	var from = 0, to = 5, step = 5, maxSize = <%= @array_of_events.size %>;
	
	function showNext(list) {
	  list.find('li:lt(' + (to) + '):not(li:lt(' + (to-step) + '))').fadeIn();
	  $("html, body").animate({ scrollTop: 300*(to/5)}, 1000);
	  to+= step;
	  if(to >= maxSize){
	  	$('#more').hide();
	  	$('#back_to_top').show();
	  }
	}
	function start(list){
		list.find('li').hide().end().find('li:lt(' + (to) + '):not(li:lt(' + from + '))').show();
		
		if(to >= maxSize){
		  	$('#more').hide();
		  	$('#back_to_top').show();
	  }
	  to+= step;
	}
	start($('ul#catshowpage'));
	$('#more').click(function(e){
		e.preventDefault();
		showNext($('ul#catshowpage'));
	});
	$('#back_to_top').click(function(e){
		e.preventDefault();
		$("html, body").animate({ scrollTop: 0 }, 700);
	});
});
</script>
<% if @array_of_events.size > 5%>
<a href="#" id="more">More</a>
<a href='#' id="back_to_top">Back to Top</a>
<% end %>