<div id="edituser">
	<h1>Edit <%= @user.name %></h1>
<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> 
        prohibited this <%= @user.class.to_s.underscore.humanize.downcase %> 
        from being saved:</h2>
    <p>There were problems with the following fields:</p>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
	<ul>
   <li>
    Name*
    <%= f.text_field :name %>
  </li>
  <li>
    Email*
    <%= f.text_field :email %>
  </li>
  <li>
    <%= f.label :affiliatedorgs, "Affiliated Organizations: " %>
    <%= f.text_field :affiliatedorgs %>
  </li>
  <li>
    <%= f.label :school %>
    <%= f.text_field :school %>
  </li>
  <li>
    <%= f.label :fblink, "Link to Facebook Profile" %><br />
    <%= f.text_field :fblink %>
  </li>
    <li>
    <%= f.label :aboutme, "About Me: " %><br />
    <%= f.text_area :aboutme, :size => "40x5" %>
  </li>
  <li>
  	<%= f.file_field :avatar %>
  </li>
  <li>
    <%= f.submit "Update" %>
  </li>
  </ul>
  <%= link_to "Change Password", '/users/' + @user.id.to_s + '/password'%>
<% end %>

</div>
