<div id="edituser">
<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> 
        prohibited this <%= @user.class.to_s.underscore.humanize.downcase %> 
        from being saved:</h2>
    <p>There were problems with the following fields:</p>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
	<div id="edit_user_title">Edit <%= @user.name%></div>
	<% if @email_error %>
		<div id="error_explanation">Please enter a valid email!</div>
	<% end %>
	<ul>
   <li>
    <p><%= f.label :name, "Name" %></p>
    <%= f.text_field :name %>
  </li>
  <li>
    <p><%= f.label :email, "Email"%></p>
    <%= f.text_field :email %>
  </li>
  <li>
    <p><%= f.label :school %></p>
    <%= f.text_field :school %>
  </li>
    <li>
    <p><%= f.label :aboutme, "About Me" %></p>
    <%= f.text_area :aboutme, :size => "36x5" %>
  </li>
  <li>
  	<p><%= f.label :avatar, "Profile Picture" %></p>
  	<%= f.file_field :avatar, :class => 'file_field' %>
  </li>
  <li>
    <button class="submitter" id="session_submit" name="commit" type="submit">Update</button>
  </li>
  </ul>
  <%= link_to "Change Password", '/users/' + @user.id.to_s + '/password'%>
<% end %>

</div>
