	<div id="block_header"><%= @header %></div>
<div id="allusers">
	<ul id="userlist">
	<% @users.each do |user| %>
		<li>
				<a href="/users/<%= user.id %>">
				<% if user.avatar.file? %>
				<%= image_tag user.avatar.url(:small), :height => 100, :width => 100 %>
				<% elsif user.fbnickname %>
				<img src="http://graph.facebook.com/<%= user.fbnickname %>/picture?type=normal" height="100" width="100"></img>
				<% elsif user.facebookid%>
				<img src="https://graph.facebook.com/<%= user.facebookid%>/picture?type=normal" height="100" width="100"></img>
				<% else%>
				<%= image_tag ("bowl3.jpg"), :height => 100, :width => 100 %>
				<% end %>
				</a>
				<div id="user_details">
					<p id="user_title"> <%= user.name %></p>
					<% if user.aboutme %>
					<p class="user_detail"><i><%= user.aboutme %></i></p>
					<% end %>
					<% if user.facebookid %>
					<p class="user_detail"><%= link_to "Facebook Page", "http://www.facebook.com/profile.php?id=" + user.facebookid %></p>
					<% elsif user.fbnickname%>
					<p class="user_detail"><%= link_to "Facebook Page", "http://www.facebook.com/" + user.fbnickname %></p>
					<% end %>
				</div>
				<% if current_user.email == "sps2133@columbia.edu"%>
				<p>
					<%= link_to "delete", user, :method => :delete %>
				</p>
				<% end %>
		</li>
	<% end %>
	</ul>
	<script type="text/javascript">
$(document).ready(function(){
	var from = 0, to = 5, step = 5, maxSize = <%= @users.size %>;
	
	function showNext(list) {
	  list.find('li:lt(' + (to) + '):not(li:lt(' + (to-step) + '))').fadeIn();
	  $("html, body").animate({ scrollTop: 300*(to/5)}, 1000);
	  to+= step;
	  if(to >= maxSize){
	  	$('#more').hide();
	  	$('#back_to_top').show();
	  }
	}
	function start(list){
		list.find('li').hide().end().find('li:lt(' + (to) + '):not(li:lt(' + from + '))').show();
		if(to >= maxSize){
		  	$('#more').hide();
		  	$('#back_to_top').show();
	  }
	  	to+= step;
	}
	start($('ul#userlist'));
	$('#more').click(function(e){
		e.preventDefault();
		showNext($('ul#userlist'));
	});
	$('#back_to_top').click(function(e){
		e.preventDefault();
		$("html, body").animate({ scrollTop: 0 }, 700);
	});
});
	</script>
</div>
	<% if @users.size > 5%>
		<a href="#" id="more">More</a>
		<a href='#' id="back_to_top">Back to Top</a>
	<% end %>