<h1>Sign up!</h1>
<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Name*<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Email*<br />
    <%= f.text_field :email %>
  </div>
    <div class="field">
    Password*<br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    Password Confirmation*<br />
    <%= f.password_field :password_confirmation %>
  </div>


  <div class="field">
    <%= f.label :affiliatedorgs, "Affiliated Organizations: " %><br />
    <%= f.text_field :affiliatedorgs %>
  </div>
  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :fblink, "Link to Facebook Profile" %><br />
    <%= f.text_field :fblink %>
  </div>
    <div class="field">
    <%= f.label :aboutme, "About Me: " %><br />
    <%= f.text_area :aboutme, :size => "40x5" %>
  </div>
  <div class="field">
  	<%= f.file_field :avatar %>
  </div>
  <p>Note: All fields with a * are required.</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>