<div id="signuppage">
<h1>Sign up!</h1>
<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div>Some errors prevented you from signing up. </div>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<ul>
		<li>
    <label for="name">Name*</label>
    <%= f.text_field :name %>
  </li>
  <li>
    <label for="email">Email*</label>
    <%= f.text_field :email %>
  </li>
    <li>
    <label for="password">Password*</label>
    <%= f.password_field :password %>
  </li>
  <li>
    <label for="password_confirmation">Password Confirmation*</label>
    <%= f.password_field :password_confirmation %>
  </li>
  <li>
    <%= f.label :affiliatedorgs, "Affiliated Organizations: " %>
    <%= f.text_field :affiliatedorgs %>
  </li>
  <li>
    <%= f.label :school %>
    <%= f.text_field :school %>
  </li>
  <li>
    <%= f.label :fblink, "Link to Facebook Profile" %>
    <%= f.text_field :fblink %>
  </li>
    <li>
    <%= f.label :aboutme, "About Me: " %>
    <%= f.text_area :aboutme, :size => "40x5" %>
  </li>
  <li>
  	<%= f.file_field :avatar %>
  </li>
  
  <li>
    <%= f.submit %>
  </li>
  </ul>
  <p>Note: All fields with a * are required.  Please make passwords more than 6 characters.</p>
<% end %>
</div>
