<div id="signuppage">
	<div id="facebook_signup">
		<p id="facebook_signup_title">Sign up with Facebook!</p>
		<p id="facebook_signup_descrip">Signing up with Facebook is super easy, all it takes is one click!  </p>
		<div id="facebooklogin"><a href="/auth/facebook"><fb:login-button>Sign up with Facebook!</fb:login-button></a></div>
	</div>
<%= form_for @user, :html => { :multipart => true } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div>Some errors prevented you from signing up. </div>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<div id="signup_form_intro">
		If you are abnormal (or born before 1980) and don't have a Facebook, don't worry, I have you
		covered too! Simply sign up with your email below!
	</div>
	<ul>
		
		<li>
    <p><label for="name">Name</label></p>
    <%= f.text_field :name %>
  </li>
  
  <li>
    <p><label for="email">Email</label></p>
    <%= f.text_field :email %>
  </li>
    <li>
    <p><label for="password">Password</label></p>
    <%= f.password_field :password %>
  </li>
  <li>
   <p><label for="password_confirmation">Password Confirmation</label></p>
    <%= f.password_field :password_confirmation %>
  </li>

  <li>
  	<p><label for="avatar">Profile Picture</label></p>
  	<%= f.file_field :avatar %>
  </li>
  
  <li>
    <%= f.submit "Sign up!", :class => "submitter" %>
  </li>
  </ul>
<% end %>
</div>
