<h1><%= @user.name %></h1>

<div id="userdetails">
	<p>Email: <%= @user.email %></p>
	<p>School: <%= @user.school %></p>
	<p>Affiliated Organizations: <%= @user.affiliatedorgs %></p>
	<p>Link to Facebook Profile: <%= @user.fblink %></p>
	<p>About Me: <%= @user.aboutme %></p>
	<%= link_to "Edit", edit_user_path(current_user) %>
</div>

<% unless @user.events.empty? %>
	<table class="events" summary="User Events">
		<%= render @events %>
	</table>
	<% end %>
	
<div id="createnewevents">
	<h1>Make a new event!</h1>
	<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>

  <div class="field">
    Facebook Event Link<br />
    <%= f.text_field :facebooklink %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
	
</div>


