
<div id="userdetails">
	<% if @user.avatar.file? %>
	<%= image_tag @user.avatar.url(:small) %>
	<% else %>
	<%= image_tag ("questionmark.png"), :height => 150, :width => 120 %>
	<% end %>
	
	<h1><%= @user.name %></h1>
	<p>Email: <%= @user.email %></p>
	<p>School: <%= @user.school %></p>
	<p>Affiliated Organizations: <%= @user.affiliatedorgs %></p>
	<p>Facebook Profile: <a href=<%= @user.fblink %>><%= @user.fblink %></a></p>
	<p>About Me: <%= @user.aboutme %></p>
	<%= link_to "Edit", edit_user_path(current_user) %>
</div>

<div id="neweventlink"><%= link_to "Make a new event!", new_event_path %></div>
<div id="recentlymadeevents">
	
	<b>Recently made events: </b>
</div>
<% @authorizations.each do |authorization|%>
<b>authorization.provider<b>
<% end %>
<% unless @user.events.empty? %>
	<div class="events">
		<%= render @events %>
	</div>
	<% end %>
