<div id="user">
	
<div id="userdetails">
	<% if @user.avatar.file? %>
	<%= image_tag @user.avatar.url(:normal) %>
	<% elsif @user.fbnickname %>
	<a href="http://www.facebook.com/<%= @user.fbnickname %>">
	<img src="http://graph.facebook.com/<%= @user.fbnickname %>/picture?type=large" height="220" width="220"></img>
	</a>
	<% elsif @user.facebookid%>
	<a href="http://www.facebook.com/profile.php?id=<%= @user.facebookid %>">
	<img src="https://graph.facebook.com/<%= @user.facebookid%>/picture?type=large" height="220" width="220"></img>
	</a>
	<% else%>
	<%= image_tag ("bowl3.jpg"), :height => 147, :width => 230 %>
	<% end %>
	<ul>
	<li id="title"><%= @user.name %></li>
	<% if(@user.aboutme) %>
	<li><i><%= @user.aboutme %></i></li>
	<% end %>
	<% if(@user.school)%>
	<li><%= @user.school %></li>
	<% end %>
	<% if(@user.fbnickname)%>
	<li><a href="http://www.facebook.com/<%= @user.fbnickname %>">Facebook Profile</a></li>
	<% elsif(@user.facebookid) %>
	<li><a href="http://www.facebook.com/profile.php?id=<%= @user.facebookid %>">Facebook Profile</a></li>
	<% end %>
	</ul>
</div>
	<% if @user == current_user %>
	<%= link_to "Edit Your Profile", edit_user_path(current_user), :id => "edit_user" %>
	<% end %>
</div>
<% if !@user.events.empty? %>
<div id="users_events">
	<%= @user.name%>'s Events
</div>
		<%= render 'events' %>
	<% end %>

