<div id="user">
	<div id="title"><%= @user.name %></div>
<div id="userdetails">
	<% if @user.avatar.file? %>
	<%= image_tag @user.avatar.url(:small) %>
	<% elsif @user.fbnickname %>
	<img src="http://graph.facebook.com/<%= @user.fbnickname %>/picture?type=normal"></img>
	<% elsif @user.facebookid%>
	<img src="https://graph.facebook.com/<%= @user.facebookid%>/picture?type=normal"></img>
	<% else%>
	<%= image_tag ("questionmark.png"), :height => 150, :width => 120 %>
	<% end %>
	
	<ul>
	<li>Email: <%= @user.email %></li>
	<% if(@user.school)%>
	<li>School: <%= @user.school %></li>
	<% end %>
	<% if(@user.affiliatedorgs)%>
	<li>Affiliated Organizations: <%= @user.affiliatedorgs %></li>
	<% end %>
	<% if(@user.fblink)%>
	<li>Facebook Profile: <a href="<%= @user.fblink %>"><%= @user.fblink %></a></li>
	<% end %>
	<% if(@user.aboutme) %>
	<li>About Me: <%= @user.aboutme %></li>
	<% end %>
	</ul>
	<%= link_to "Edit", edit_user_path(current_user) %>
</div>
</div>
<% unless @user.events.empty? %>
	<div class="events">
		<%= render 'events' %>
	</div>
	<% end %>

