
<div id="userdetails">
	<% if @user.avatar.file? %>
	<%= image_tag @user.avatar.url(:small) %>
	<% elsif @user.fbnickname %>
	<img href="http://graph.facebook.com/<%= @user.fbnickname %>/picture?type=large"></img>
	<% else %>
	<%= image_tag ("questionmark.png"), :height => 150, :width => 120 %>
	<% end %>
	
	<h1><%= @user.name %></h1>
	<p>Email: <%= @user.email %></p>
	<% if(@user.school)%>
	<p>School: <%= @user.school %></p>
	<% end %>
	<% if(@user.affiliatedorgs)%>
	<p>Affiliated Organizations: <%= @user.affiliatedorgs %></p>
	<% end %>
	<% if(@user.fblink)%>
	<p>Facebook Profile: <a href="<%= @user.fblink %>"><%= @user.fblink %></a></p>
	<% end %>
	<% if(@user.fbnickname)%>
	<p>Facebook nickname: <%= @user.fbnickname %></p>
	<% end %>
	<% if(@user.aboutme) %>
	<p>About Me: <%= @user.aboutme %></p>
	<% end %>
	<%= link_to "Edit", edit_user_path(current_user) %>
</div>

<div id="neweventlink"><%= link_to "Make a new event!", new_event_path %></div>
<div id="recentlymadeevents">
	
	<b>Recently made events: </b>
</div>

<% unless @user.events.empty? %>
	<div class="events">
		<%= render @events %>
	</div>
	<% end %>
