<div id="fancybox-hidden">
  <% @array_of_events.each do |event| %>
    <div class="span5">
  <div class="event-big thumbnail" id="event-<%= event.id %>">
    <img src="https://graph.facebook.com/<%= event.facebooklink%>/picture?type=large"></img>
    
    <div class="caption"> 
    <h2><%= event.name %></h2>
    <p><!--- ATTENDING DETAILS --></p>
    <p><%= event.description %></p>
    </div>
  </div>
  </div>
<% end %>
</div>


<ul class="thumbnails">
<% @array_of_events.each do |event| %>
<% if !event.deleted %>
  <li class="span3">
  <div class="thumbnail">
  <a class="single-event" href="#event-<%= event.id %>">
	<% if event.photo.file? %>
	<%= image_tag event.photo.url(:small), :width => 260 %>
	<% elsif event.facebooklink %>
	<img src="https://graph.facebook.com/<%= event.facebooklink%>/picture?type=large" width="260"></img>
	<% else %>
	<%= image_tag ("bowl3.jpg"), :height => 70, :width => 100 %>
	<% end %>

<div id="eventwords" class="caption">

  <h4><%= event.name %></h4>
  <% if event.check_for_food %>
    <span class="label label-success">Free Food!</span>
  <% end %>

    <p class="when">
	<% if event.date && event.time %>
	<%= @months[event.date.month - 1] %> <%= event.date.day %>, <%= event.date.year %> at <%= event.time.strftime("%I:%M %p")%><br />
	<% end %>
	</p>
</div>
</a>
</div>
</li>
<% end %>
<% end %>
</ul>

<div id="loading"></div>
<script type="text/javascript">
  $(".thumbnails").masonry({
      itemSelector: '.span3'
      });

$(document).ready(function(){
  $(".single-event").fancybox();
});
</script>
