<ul class="timeline">
  <% @events.each do |e| %>
    <li>
      <% if e.photo.file? %>
        <%= image_tag e.photo.url(:small), :width => 100 %>
      <% elsif e.facebooklink %>
        <img src="https://graph.facebook.com/<%= e.facebooklink%>/picture?type=normal" width="100"></img>
      <% else %>
        <%= image_tag ("bowl3.jpg"), :height => 70, :width => 100 %>
      <% end %>

      <p class="date-time">
        <% if e.start_time %>
          <%= l e.start_time, format: '%m/%d/%y %I:%M%p' %>
        <% end %>
      </p>
      <p class="event-name">
        <%= truncate e.name, length: 30 %>        
      </p>
      <p class="facebook">
        <% if e.facebooklink%>
          <a href="http://www.facebook.com/e.php?eid=<%= e.facebooklink %>"><b>Link to Facebook Event</b></a>  
        <% end %>
      </p>
    </article>
  <% end %>
</ul>
<% if @events.size > 5%>
  <a href="#" id="more">More</a>
  <a href='#' id="back_to_top">Back to Top</a>
<% end %>
