<ul id="catshowpage">
  <% @array_of_events.each do |event| %>
    <% if !event.deleted %>
      <li>
        <%= link_to event_path(event) do %>
          <% if event.photo.file? %>
            <%= image_tag event.photo.url(:small), :width => 100 %>
          <% elsif event.facebooklink %>
            <img src="https://graph.facebook.com/<%= event.facebooklink%>/picture?type=normal" width="100"></img>
          <% else %>
            <%= image_tag ("bowl3.jpg"), :height => 70, :width => 100 %>
          <% end %>

          <div id="eventwords">

            <p id="event_title"><%= event.name %> <% if event.check_for_food %><span id="free_food">Free food! </span><% end %></p>
            <div id="when">
              <% if event.date && event.time %>
                <b><%= l event.date, format: :long %> at <%= l event.time, format: '%I:%M %p' %> </b><br />
              <% end %>
              <i><%= event.description %></i> <br />
              <% if event.facebooklink%>
                <a href="http://www.facebook.com/event.php?eid=<%= event.facebooklink %>"><b>Link to Facebook Event</b></a>	
              <% end %>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<% if @array_of_events.size > 5%>
  <a href="#" id="more">More</a>
  <a href='#' id="back_to_top">Back to Top</a>
<% end %>
