
<a href="/events/<%= event.id %>"><div class="eventlistinguser">
	<div class="eventphoto">
	<% if event.photo.file? %>
	<%= image_tag event.photo.url(:small) %>
	<% else %>
	<%= image_tag ("questionmark.png"), :height => 150, :width => 120 %>
	<% end %>
	</div>
<div id="eventdetails">
<p>
	<%= event.name %><br />
	On <%= event.date %>	in <%= event.location %><br />
	Description: <%= event.description %> <br />
	Category: <%= event.category %> <br />
	Link to Facebook Event:  <%= event.facebooklink %>	<br />
</p>
<hr width=100% >
</div>

</div>

</a>
