<div class="eventlisting">
	<%= image_tag event.photo.url(:small) %>
<p>
	Name:<span class="content"><%= event.name %></span>	
</p>
<p>
	Description:<span class="content"><%= event.description %></span>	
</p>
<p>
	Location:<span class="content"><%= event.location %></span>
</p>
<p>
	Date:<span class="content"><%= event.date %></span>	
</p>
<p>
	Time:<span class="content"><%= event.time %></span>	
</p>
<p>
	Link to Facebook Event:<span class="content"><%= event.facebooklink %></span>	
</p>
<p>
	Author:<span class="content"><%= event.author %></span>	
</p>
</div>
