<div id="createnewevents">
	<h1>Make a new event!</h1>
	<%= form_for(@event, :html => { :multipart => true }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <p>Errors prevented your event from being saved!</p>

      <ul class="errors">
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p><%= f.label :name %>
    <%= f.text_field :name %></p>
    	
    <p>What?
    <%= f.text_field :description %></p>

    <p>When?
    <%= f.text_field :date  %> <%= f.text_field :time %><!--CHANGED TIME_SELECT TO TEXT-FIELD -->
    </p>
    <p>Where?
    <%= f.text_field :location %></p>

    <p><%= f.label :category %>
    <%= f.select(:category, [['Fraternities', 1], ['Theater', 2], ['Sports', 3], ['Politics', 4], ['Career Networking', 5], ['Arts', 6], ['Community Service', 7], ['Student Council', 8]]) %></p>
	<%= f.hidden_field :author, :value => @user.name %>
  	<p>Picture
  	<%= f.file_field :photo %></p>
  	<% if(!current_user.authorizations.empty?)%>
	<p>Make Facebook event? <%= f.check_box(:facebookevent, {}, 1, 0)%></p>
	<% end %>
    <p><%= f.submit %></p>
<% end %>
</div>
