<div id="createnewevents">
	<h1><%= @title %></h1>
	<%= form_for(@event, :html => { :multipart => true, :id => "new_event" }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <p>Errors prevented your event from being saved!</p>

      <ul class="errors">
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<ul>
    <li><%= f.label :name %>
    <%= f.text_field :name %></li>
    	
    <li><label for="event_description">What?</label>
    <%= f.text_field :description %></li>

    <li><label for="event_date">When?</label>
    <%= f.text_field :date, :size => 5  %> <%= f.text_field :time, :size => 5 %><!--CHANGED TIME_SELECT TO TEXT-FIELD -->
    </li>
    <li><label for="event_location">Where?</label>
    <%= f.text_field :location %></li>

    <li><%= f.label :category %>
    <%= f.select(:category, [['Fraternities', 1], ['Theater', 2], ['Sports', 3], ['Politics', 4], ['Career Networking', 5], ['Arts', 6], ['Community Service', 7], ['Student Council', 8]]) %></li>
  	
  	<li><label for="event_photo">Picture</label>
  	<%= f.file_field :photo %></li>
  	<% if(!current_user.authorizations.empty?)%>
	<li>Make Facebook event? <%= f.check_box(:facebookevent, {}, 1, 0)%></li>
	<% end %>
    <li><%= f.submit %></li>
    <% if @event.name %>
    <li><%= link_to "Back to event", @event%></li>
    <% end %>
    </ul>
<% end %>
</div>
