<div id="createnewevents">
	<h1>Make a new event!</h1>
	<%= form_for(@event, :html => { :multipart => true }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <p>Errors prevented your event from being saved!</p>

      <ul class="errors">
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p><%= f.label :name %><br />
    <%= f.text_field :name %></p>
    	
    <p><%= f.label :description %><br />
    <%= f.text_field :description %></p>

    <p><%= f.label :date %><br />
    <%= f.select(:month, [['January', 1], ['February', 2],['March', 3],['April', 4],['May', 5],['June', 6],['July', 7],['August', 8],['September', 9],['October', 10],['November', 11],['December', 12]]) %>
    <%= f.select(:day, [['1', 1], ['2',2], ['3',3], ['4', 4], ['5', 5],['6', 6],['7', 7],['8', 8],['9', 9],['10', 10],['11', 11],['12', 12],['13', 13],['14', 1],['15', 15],['16', 16],['17', 17],['18', 18],['19', 19],['20', 20],['21', 21],['22', 22],['23', 23],['24', 24],['25', 25],['26', 26],['27', 27],['28', 28],['29', 29],['30', 30],['31', 31],])%>
    <%= f.select(:year, [['2011', 2011], ['2012', 2012], ['2013', 2013],['2014', 2014],['2015', 2015],['2016', 2016],['2017', 2017]])%></p>

    <p><%= f.label :time %><br />
    <%= f.select(:time, [['12:00 AM', 1], ['1:00 AM', 2],['2:00 AM', 3],['3:00 AM', 4],['4:00 AM', 5],['5:00 AM', 6],['6:00 AM', 7],['7:00 AM', 8],['8:00 AM', 9],['9:00 AM', 10],['10:00 AM', 11],['11:00 AM', 12],['12:00 PM', 13],['1:00 PM', 14],['2:00 PM', 15], ['3:00 PM', 16],['4:00 PM', 17], ['5:00 PM', 18], ['6:00 PM', 19], ['7:00 PM', 20], ['8:00 PM', 21],['9:00 PM', 22], ['10:00 PM', 23],['11:00 PM', 24]]) %></p>

    <p><%= f.label :location %><br />
    <%= f.text_field :location %></p>

    <p><%= f.label :category %><br />
    <%= f.select(:category, [['Fraternities', 1], ['Theater', 2], ['Sports', 3], ['Politics', 4], ['Career Networking', 5], ['Arts', 6], ['Community Service', 7], ['Student Council', 8]]) %></p>

    <p>Facebook Event Link<br />
    <%= f.text_field :facebooklink %></p>
	<%= f.hidden_field :author, :value => @user.name %>
  	<p>Picture<br />
  	<%= f.file_field :photo %></p>

    <p><%= f.submit %></p>
<% end %>
</div>
