<div id="calendar">
	<h2 id="month">
		<%= link_to "<", :date => (@date.beginning_of_month-1).strftime("%Y-%m-%d")%>
		<%=h @date.strftime("%B %Y") %>
		<%= link_to ">", :date => (@date.end_of_month + 1).strftime("%Y-%m-%d")%>
	</h2>
	<% calendar_for @events, :year => @date.year, :month => @date.month do |calendar|%>
	<%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>
		<% calendar.day(:day_method => :created_at) do |date, events| %>
				<% if date == @date%>
					<%= link_to date.day.to_s, {:controller => 'events', :action => 'calendar', :date => date.strftime("%Y-%m-%d")}, :class => 'selected' %>
				<% elsif @dates_with_events.include?(date)%>
					<%= link_to date.day.to_s, {:controller => 'events', :action => 'calendar', :date => date.strftime("%Y-%m-%d")}%>
					<p><b>.</b></p>
				<% else %>
					<%= link_to date.day.to_s, {:controller => 'events', :action => 'calendar', :date => date.strftime("%Y-%m-%d")} %>
				<% end %>
		<% end %>
	<% end %>
</div>
<% if !@array_of_events.empty? %>
<%= render 'shared/catshowpage'%>
<% end %>
