<ul id="catshowpage">

<% @array_of_events.each do |event| %>
<li><a href="/events/<%= event.id %>">
	<% if event.photo.file? %>
	<%= image_tag event.photo.url(:small) %>
	<% else %>
	<%= image_tag ("questionmark.png"), :height => 100, :width => 100 %>
	<% end %>
</a>

<p id="eventwords">
	<%= event.name %><br />
	On <%= @months[event.date.month - 1] %> <%= event.date.day %>, <%= event.date.year %><br />
	Description: <%= event.description %> <br />
	Link to Facebook Event:  <%= event.facebooklink %>	<br />
</p>
</li>


<% end %>
</ul>