<div id="createnewevents">

	<%= form_for(@event, :html => { :multipart => true, :id => "new_event" }) do |f| %>
		<div id="make_new_event">
			<%= @title %>
		</div>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <p>Errors prevented your event from being saved!</p>

      <ul class="errors">
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<ul>
    <li><p><%= f.label :name %></p>
    <%= f.text_field :name %></li>
    	
    <li><p><label for="event_description">What?</label></p>
    <%= f.text_field :description %></li>

    <li><p><label for="event_date">When?</label></p>
    <%= f.text_field :date, :size => 5  %> <%= f.text_field :time, :size => 5 %><!--CHANGED TIME_SELECT TO TEXT-FIELD -->
    </li>
    <li><p><label for="event_location">Where?</label></p>
    <%= f.text_field :location %></li>

    <li><p><%= f.label :category %></p>
    <%= f.select(:category, [['Greek Life', 1], ['Theater', 2], ['Sports', 3], ['Politics', 4], ['Career Networking', 5], ['Arts', 6], ['Community Service', 7], ['Student Council', 8], ['Other', 9]]) %></li>
  	
  	<li><p><label for="event_photo">Picture</label></p>
  	<%= f.file_field :photo, :class => 'no_border' %></li>
  	
  	<% if(!current_user.authorizations.empty?)%>
	<li><p>Make Facebook event? <%= f.check_box(:facebookevent, {}, 1, 0)%></p></li>
	<% end %>
    <li><button class="submitter" id="session_submit" name="commit" type="submit">Create Event</button></li>
    </ul>
<% end %>
</div>