<div id="eventshow">
	<% if @event.photo.file? %>
	<%= image_tag @event.photo.url(:small) %>
	<% else %>
	<%= image_tag ("questionmark.png"), :height => 150, :width => 120 %>
	<% end %>
	<br />
<p>
	<b>Name: </b> <%= @event.name %>	
</p>
<p>
	<b>Description: </b> <%= @event.description %>	
</p>
<p>
	<b>Location: </b> <%= @event.location %>
</p>
<p>
	<% if @event.date %>
	<b>Date:</b> <%= @event.date %>
	<% end %>
</p>

<p>
	<b>Time: <%= @event.time %></b>
</p>
<p>
	<b>Category: </b><%= @categories[@event.category - 1] %>
</p>
<p>
	Facebookevent: <b><%= @event.facebookevent %></b>
</p>
<p>
	<b>Link to Facebook Event: </b><%= @event.facebooklink %>	
</p>
<% if current_user?(@event.user)%>
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to "delete", @event, :method => :delete, :confirm => "You sure?", :title => @event.name %>
<% end %>
</div>



<div id="commentform">
<%= form_for([@event, @comment], :url => {:controller => :comments, :action => :create}, :remote => true) do |f| %>
<% if signed_in? %>
<p><%= f.label :author %><br />
     <%= f.text_field :author, :value => current_user.name %></p>
     <% else %>
  <p><%= f.label :author %><br />
     <%= f.text_field :author %></p>
     <% end %>
    
     <p><%= f.label :content %><br />
     <%= f.text_field :content %></p>
     <%= f.hidden_field :event_id, :value => @event.id %>
    
     <p><%= f.submit %></p>
<% end %>
</div>
<% if(@comments != nil)%>
<div id="comments">
	<%= render :partial => @comments, :locals => { :list => true } %>
</div>
<% end %>
