<div id="event">
<div id="eventuser">
	<% if @event.user.avatar.file? %>
	<%= image_tag @event.user.avatar.url(:thumb), :id => "eventuserphoto" %>
	<% end %>
	<div id="user_details">
		<p id="title"><%= @event.name %></p>
		<p id="name">By: <%= @event.user.name %></p>
	</div>	
</div>


<div id="eventshow">
	<% if @event.photo.file? %>
	<%= image_tag @event.photo.url(:small) %>
	<% else %>
	<%= image_tag ("questionmark.png"), :height => 150, :width => 120 %>
	<% end %>
<ul>
<li>
	<b>Description: </b> <%= @event.description %>	
</li>
<li>
	<b>Location: </b> <%= @event.location %>
</li>
<li>
	<% if @event.date %>
	<b>Date:</b> <%= @event.date %>
	<% end %>
</li>
<li>
	<b>Time: <%= @event.time %></b>
</li>
<li>
	<b>Category: </b><%= @categories[@event.category - 1] %>
</li>
<li>
	Facebookevent: <b><%= @event.facebookevent %></b>
</li>
<li>
	<b>Link to Facebook Event: </b><%= @event.facebooklink %>	
</li>
</ul>

<% if current_user?(@event.user)%>
<div id="controls">
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to "delete", @event, :method => :delete, :confirm => "You sure?", :title => @event.name %>
</div>
<% end %>
</div>

<!--
<div id="comment_stuff">
<div id="commentform">
<%= form_for([@event, @comment], :url => {:controller => :comments, :action => :create}, :remote => true) do |f| %>
<% if signed_in? %>
<p><%= f.label :author %><br />
     <%= f.text_field :author, :value => current_user.name %></p>
     <% else %>
  <p><%= f.label :author %><br />
     <%= f.text_field :author %></p>
     <% end %>
    
     <p><%= f.label :content %><br />
     <%= f.text_field :content %></p>
     <%= f.hidden_field :event_id, :value => @event.id %>
    
     <p><%= f.submit %></p>
<% end %>
</div>
<% if(@comments != nil)%>
<div id="comments">
	<%= render :partial => @comments, :locals => { :list => true } %>
</div>
<% end %>
</div>
-->
</div>
