<div id="event">
<div id="eventuser">
	<a href="/users/<%= @event.user.id %>">
	<% if @event.user.avatar.file? %>
	<%= image_tag @event.user.avatar.url(:thumb) %>
	<% elsif @event.user.fbnickname %>
	<img src="http://graph.facebook.com/<%= @event.user.fbnickname %>/picture?type=normal" height="75" width="75"></img>
	<% elsif @event.user.facebookid%>
	<img src="https://graph.facebook.com/<%= @event.user.facebookid%>/picture?type=normal" height="75" width="75"></img>
	<% else%>
	<%= image_tag ("bowl3.jpg"), :height => 75, :width => 75 %>
	<% end %>
	</a>
	<div id="user_details">
		<p id="title"><%= @event.name %></p>
		<% if !@event.author.eql?("")%>
		<p id="name">By: <%= @event.author %></p>
		<% else %>
		<p id="name">By: <%= @event.user.name %></p>
		<% end %>
	</div>	
</div>


<div id="eventshow">
	<% if @event.facebooklink %>
	<a href="http://www.facebook.com/event.php?eid=<%= @event.facebooklink %>">
	<% if @event.photo.file? %>
	<%= image_tag @event.photo.url(:small) %>
	<% elsif %>
	<img src="https://graph.facebook.com/<%= @event.facebooklink%>/picture?type=large"></img>
	<% else %>
	<%= image_tag ("bowl3.jpg"), :height => 100, :width => 130 %>
	<% end %>
	</a>
	<% else %>
	<% if @event.photo.file? %>
	<%= image_tag @event.photo.url(:small) %>
	<% else %>
	<%= image_tag ("bowl3.jpg"), :height => 100, :width => 130 %>
	<% end %>
	<% end %>


<div id="attendees">
<a href="#" id="attendees_count"><%= pluralize(@event.attendings.count, 'Person') %> Attending</a><br />
<ul id="attendees_list">
	<% @event.attendings.each do |attending| %>
	<li>
		<%= link_to User.find(attending.user_id).name, User.find(attending.user_id) %> 
		<div id="status"><%= attending.status %></div>
	</li>
	<% end %>
</ul>

</div>
<script type="text/javascript">
$(document).ready(function(){
	var boo = 1;
	var clicked = 0;
	//case that user is already attending
	$('#maybe').click(function(e){
		clicked = 1;
	});
	$('#attend').click(function(e){
		clicked = 1;
	});
	$("#attendees_count").click(function(e){
		e.preventDefault();	
		<% if signed_in? %>
			<% if current_user.attendings.find_by_event_id(@event.id) %>
					<% if @event.attendings.empty? %>
					var length = '22px';
					<% else %>
					var length = <%= (@event.attendings.size*20).to_s %>;
					<% end %>
					if(boo == 1){
						$("#attendees_list").show();
						$("#attendees_list").stop().animate({height: length}, {queue:false, duration:600});
						boo = 0;
					}else{
						$("#attendees_list").stop().animate({height: '5px'}, {queue:false, duration:600});
						$("#attendees_list").fadeOut();
						boo = 1;
					}
			<% else%>
				if(clicked == 1){
					var length = <%= ((@event.attendings.size + 1)*22).to_s %>;
					if(boo == 1){
						$("#attendees_list").show();
						$("#attendees_list").stop().animate({height: length}, {queue:false, duration:600});
						boo = 0;
					}else{
						$("#attendees_list").stop().animate({height: '5px'}, {queue:false, duration:600});
						$("#attendees_list").fadeOut();
						boo = 1;
					}					
				}else{
					<% if @event.attendings.empty? %>
					var length = '22px';
					<% else %>
					var length = <%= (@event.attendings.size*22).to_s %>;
					<% end %>
					if(boo == 1){
						$("#attendees_list").show();
						$("#attendees_list").stop().animate({height: length}, {queue:false, duration:600});
						boo = 0;
					}else{
						$("#attendees_list").stop().animate({height: '5px'}, {queue:false, duration:600});
						$("#attendees_list").fadeOut();
						boo = 1;
					}		
				}
			<% end %>
		<% else %>
			<% if @event.attendings.empty? %>
			var length = '22px';
			<% else %>
			var length = <%= (@event.attendings.size*22).to_s %>;
			<% end %>
			if(boo == 1){
				$("#attendees_list").show();
					$("#attendees_list").stop().animate({height: length}, {queue:false, duration:600});
				boo = 0;
			}else{
				$("#attendees_list").stop().animate({height: '5px'}, {queue:false, duration:600});
				$("#attendees_list").fadeOut();
				boo = 1;
			}
		<% end %>
		
	});
});
</script>
<ul>
<li>
	<p><i><%= @event.description %></i></p>	
</li>
<% if(!(@event.location == "")) %>
<li>
	<%= @event.location %>
</li>
<% end %>
<li>
	<% if @event.date && @event.time%>
	On <%= @months[@event.date.month-1] %> <%= @event.date.day %>, <%= @event.date.year %> at <%= @event.time.strftime("%I:%M %p")%> 
	<% elsif @event.date %>
	On <%= @months[@event.date.month-1] %> <%= @event.date.day %>, <%= @event.date.year %>
	<% elsif @event.time %>
	At <%= @event.time.strftime("%I:%M %p")%> 
	<% end %>
</li>
<% if @event.facebooklink%>
<li>
	<a href="http://www.facebook.com/event.php?eid=<%= @event.facebooklink %>"><b>Facebook Event</b></a>	
</li>
<% end %>
</ul>
</div>
<% if current_user?(@event.user)%>
<div id="controls">
<%= link_to 'Edit this event', edit_event_path(@event) %>
</div>
<% end %>
<% if signed_in? %>
<div id="attending_forms">
	<%= form_for @attending, :url => {:controller => :attendings, :action => :attend }, :html => {:id => "attend"} do |f| %>
	<%= f.hidden_field :event_id, :value => @event.id %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :status, :value => "Attending"%>
	<button class="submitter" id="attend_submit" name="commit" type="submit" value="Attending">Attending</button>
	<% end %>
	<%= form_for @attending, :url => {:controller => :attendings, :action => :maybe}, :html => {:id => "maybe"} do |f| %>
	<%= f.hidden_field :event_id, :value => @event.id %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :status, :value => "Maybe"%>
	<button class="submitter" id="maybe_submit" name="commit" type="submit" value="Maybe">Maybe</button>
	<% end %>
</div>
<% else %>
<div id="attending_invitation">Wanna tell the world you're going? <%= link_to "Sign up", signup_path %> to say you're attending!</div>
<% end %>
<div id="comments">
<fb:like href="www.eventsalsa.com/events/<%= @event.id %>" send="true" width="450" show_faces="true" action="like" font=""></fb:like>
<fb:comments href="http://www.eventsalsa.com/events/<%= @event.id %>" num_posts="10" width="600"></fb:comments>
</div>

</div>
<% if signed_in? %>
<% if @event.facebooklink && (current_user.fbnickname || current_user.facebookid) %>
<script type="text/javascript">
$(document).ready(function(){
	var facebooklink = <%= @event.facebooklink %>;
	$('#attend').submit(function(e){
		alert('script entered');
		var post = {
	      "name": <%= current_user.name %>,
	      "id": facebooklink,
	      "rsvp_status": "attending"
	   };
		FB.api('/' + facebooklink + '/attending', 'post', post, function(response){
			if(!response || response.error){
				alert('Something went wrong!');
			}else{
				alert('You are now attending this event!');
			}
		});
	});
	
	$('#maybe').submit(function(e){
		alert('script entered');
		var post = {
	      "name": <%= current_user.name %>,
	      "id": facebooklink,
	      "rsvp_status": "unsure"
	   };
	    FB.api('/' + facebooklink + '/maybe', 'post', post, function(response){
	    	if(!response || response.error){
				alert('Something went wrong!');
			}else{
				alert('You are now attending this event!');
			}
	    });
	});
});
</script>
<% end %>
<% end %>
