<div id="event">
<div id="eventuser">
	<% if @event.user.avatar.file? %>
	<%= image_tag @event.user.avatar.url(:thumb) %>
	<% elsif @event.user.fbnickname %>
	<img src="http://graph.facebook.com/<%= @event.user.fbnickname %>/picture?type=normal" height="75" width="75"></img>
	<% elsif @event.user.facebookid%>
	<img src="https://graph.facebook.com/<%= @event.user.facebookid%>/picture?type=normal" height="75" width="75"></img>
	<% else%>
	<%= image_tag ("questionmark.png"), :height => 75, :width => 75 %>
	<% end %>
	<div id="user_details">
		<p id="title"><%= @event.name %></p>
		<p id="name">By: <%= @event.user.name %></p>
	</div>	
</div>


<div id="eventshow">
	<% if @event.photo.file? %>
	<%= image_tag @event.photo.url(:small) %>
	<% else %>
	<%= image_tag ("questionmark.png"), :height => 150, :width => 120 %>
	<% end %>
<ul>
<li>
	<%= @event.description %>	
</li>
<% if(!(@event.location == "")) %>
<li>
	Place: <%= @event.location %>
</li>
<% end %>
<li>
	<% if @event.date && @event.time%>
	Time: <%= @months[@event.date.month-1] %> <%= @event.date.day %>, <%= @event.date.year %> at <% if(@event.time.hour>12)%> <%= (@event.time.hour-12) %>:<%= @event.time.min %> PM <% else %><%= @event.time.hour %>:<%= @event.time.min %> AM<% end %>
	<% elsif @event.date %>
	Date: <%= @months[@event.date.month-1] %> <%= @event.date.day %>, <%= @event.date.year %>
	<% elsif @event.time %>
	Time: <% if(@event.time.hour-12) %>:<%= @event.time.min %> PM <% else %><%= @event.time.hour %>:<%= @event.time.min %> AM<% end %>
	<% end %>
</li>
<% if @event.facebooklink%>
<li>
	<a href="http://www.facebook.com/event.php?eid=<%= @event.facebooklink %>"><b>Link to Facebook Event: </b></a>	
</li>
<% end %>
</ul>

<% if current_user?(@event.user)%>
<div id="controls">
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to "Delete", @event, :method => :delete, :confirm => "You sure?", :title => @event.name %>
</div>
<% end %>
</div>

<div id="comments">
<fb:like href="www.eventsalsa.com/events/<%= @event.id %>" send="true" width="450" show_faces="true" action="like" font=""></fb:like>
<fb:comments href="http://www.eventsalsa.com/events/<%= @event.id %>" num_posts="10" width="600"></fb:comments>
</div>

<!--
<div id="comment_stuff">
<div id="commentform">
<%= form_for([@event, @comment], :url => {:controller => :comments, :action => :create}, :remote => true) do |f| %>
<% if signed_in? %>
<p><%= f.label :author %><br />
     <%= f.text_field :author, :value => current_user.name %></p>
     <% else %>
  <p><%= f.label :author %><br />
     <%= f.text_field :author %></p>
     <% end %>
    
     <p><%= f.label :content %><br />
     <%= f.text_field :content %></p>
     <%= f.hidden_field :event_id, :value => @event.id %>
    
     <p><%= f.submit %></p>
<% end %>
</div>
<% if(@comments != nil)%>
<div id="comments">
	<%= render :partial => @comments, :locals => { :list => true } %>
</div>
<% end %>
</div>
-->
</div>
