<% if !signed_in?%>
<div id="intropara">
<p id="emphasis">Welcome to EventSalsa, an event catalogue.</p>
<p id="descrip">EventSalsa is the best place to find out what awesome events are happening
	on campus!  To start, simply click on a category on the left!  <br /><br />
	If you are a student group or someone who likes to organize events, EventSalsa is a great
	tool to use for making Facebook events! All you need to do is click Sign-in with Facebook
	to start posting events, and for each event you create, EventSalsa will create an Facebook
	event for you and put it in a category for everyone to see! It's that simple!</p>
<div id="signup">
	<%= link_to "Sign up", signup_path, :id => "email_login" %>
	<a href="/auth/facebook" id="facebook_login">Log in with Facebook</a>
</div>
</div>
<% else %>
<ul id="catshowpage">

<% @array_of_events.each do |event| %>
<li><a href="/events/<%= event.id %>">
	<% if event.photo.file? %>
	<%= image_tag event.photo.url(:small) %>
	<% else %>
	<%= image_tag ("questionmark.png"), :height => 100, :width => 100 %>
	<% end %>
</a>

<div id="eventwords">
	<p id="event_title"><%= event.name %></p>
	<% if event.date %>
	On <%= @months[event.date.month - 1] %> <%= event.date.day %>, <%= event.date.year %> at <% if(event.time.hour>12)%> <%= (event.time.hour-12) %>:<%= event.time.min %> PM <% else %><%= event.time.hour %>:<%= event.time.min %> AM<% end %><br />
	<% end %>
	<%= event.description %> <br />
	<% if event.facebooklink%>
	<a href="http://www.facebook.com/event.php?eid=<%= event.facebooklink %>"><b>Link to Facebook Event</b></a>	
	<% end %>
</div>
</li>


<% end %>
</ul>
<% end %>

