<!--Display previously posted events-->
<h3>Find out what's happening on campus today!</h3>

<% if @event[-1]%>
<div class="eventlisting">
			Name : <%= @event[-1].name %><br />
			Description: <%= @event[-1].description %><br />
			Date: <%= @event[-1].date %><br />
			Time: <%= @event[-1].time %><br />
			Location: <%= @event[-1].location %><br />
			Facebook Event Link: <%= @event[-1].facebooklink %><br />
			By: <%= @event[-1].author%>
</div>
<% end %>
<% if @event[-2]%>
<div class="eventlisting">
			Name : <%= @event[-2].name %><br />
			Description: <%= @event[-2].description %><br />
			Date: <%= @event[-2].date %><br />
			Time: <%= @event[-2].time %><br />
			By: <%= @event[-2].author%>
</div>
<% end %>
<% if @event[-3]%>
<div class="eventlisting">
			Name : <%= @event[-3].name %><br />
			Description: <%= @event[-3].description %><br />
			Date: <%= @event[-3].date %><br />
			Time: <%= @event[-3].time %><br />
			By: <%= @event[-3].author%>
</div>
<% end %>
<% if @event[-4]%>
<div class="eventlisting">
			Name : <%= @event[-4].name %><br />
			Description: <%= @event[-4].description %><br />
			Date: <%= @event[-4].date %><br />
			Time: <%= @event[-4].time %><br />
			By: <%= @event[-4].author%>
</div>
<% end %>

			<% if @event[-5]%>
<div class="eventlisting">
			Name : <%= @event[-5].name %><br />
			Description: <%= @event[-5].description %><br />
			Date: <%= @event[-5].date %><br />
			Time: <%= @event[-5].time %><br />
			By: <%= @event[-5].author%>
</div>
		<% end %>
		<% if @event[-6]%>
<div class="eventlisting">
			Name : <%= @event[-6].name %><br />
			Description: <%= @event[-6].description %><br />
			Date: <%= @event[-6].date %><br />
			Time: <%= @event[-6].time %><br />
			By: <%= @event[-6].author%>
</div>
		<% end %>

			<% if @event[-7]%>
<div class="eventlisting">
			Name : <%= @event[-7].name %><br />
			Description: <%= @event[-7].description %><br />
			Date: <%= @event[-7].date %><br />
			Time: <%= @event[-7].time %><br />
			By: <%= @event[-7].author%>
</div>
		<% end %>
		<% if @event[-8]%>
<div class="eventlisting">
			Name : <%= @event[-8].name %><br />
			Description: <%= @event[-8].description %><br />
			Date: <%= @event[-8].date %><br />
			Time: <%= @event[-8].time %><br />
			By: <%= @event[-8].author%>
</div>
		<% end %>

