<% if !signed_in?%>
<div id="intropara">
<p id="emphasis">Welcome to EventSalsa, an event catalogue.</p>
<p id="descrip">EventSalsa is the best place to find out what awesome events are happening
	on campus.  To start, simply click on a category on the left.  <br /><br />
	If you are a student group or someone who likes to organize events, EventSalsa is a great
	tool to use for making Facebook events! All you need to do is click Sign-in with Facebook
	to start posting events, and for each event you create, EventSalsa will create an Facebook
	event for you and categorize it. It's that simple!</p>
<div id="signup">
	<%= link_to "Sign up", '#', :id => "email_login" %>
	<a href="/auth/facebook" id="facebook_login">Log in with Facebook</a>
	<%= link_to "View Calendar of Events", calendar_path, :id => "calendar_link" %>
</div>
</div>

<div id="block_header">Upcoming Events</div>
<ul id="catshowpage">
<% @array_of_events.each do |event| %>
<li><a href="/events/<%= event.id %>">
	<% if event.photo.file? %>
	<%= image_tag event.photo.url(:small), :height => 100, :width => 100 %>
	<% else %>
	<%= image_tag ("questionmark.png"), :height => 100, :width => 100 %>
	<% end %>
</a>

<div id="eventwords">
	<p id="event_title"><%= event.name %></p>
	<% if event.date %>
	On <%= @months[event.date.month - 1] %> <%= event.date.day %>, <%= event.date.year %> at <% if(event.time.hour>12)%> <%= (event.time.hour-12) %>:<%= event.time.min %> PM <% else %><%= event.time.hour %>:<%= event.time.min %> AM<% end %><br />
	<% end %>
	<i><%= event.description %></i> <br />
	<% if event.facebooklink%>
	<a href="http://www.facebook.com/event.php?eid=<%= event.facebooklink %>"><b>Link to Facebook Event</b></a>	
	<% end %>
</div>
</li>
<% end %>
</ul>

<script type="text/javascript">
$(document).ready(function(){
	var from = 0, to = 5, step = 5, maxSize = <%= @array_of_events.size %>;
	
	function showNext(list) {
	  list.find('li:lt(' + (to) + '):not(li:lt(' + (to-step) + '))').fadeIn();
	  $("html, body").animate({ scrollTop: 300 + 300*(to/5)}, 1000);
	  to+= step;
	  if(to >= maxSize){
	  	$('#more').hide();
	  	$('#back_to_top').show();
	  }
	}
	function start(list){
		list.find('li').hide().end().find('li:lt(' + (to) + '):not(li:lt(' + from + '))').show();
		
		if(to >= maxSize){
		  	$('#more').hide();
		  	$('#back_to_top').show();
	  }
	  to+= step;
	}
	start($('ul#catshowpage'));
	$('#more').click(function(e){
		e.preventDefault();
		showNext($('ul#catshowpage'));
	});
	$('#back_to_top').click(function(e){
		e.preventDefault();
		$("html, body").animate({ scrollTop: 0 }, 700);
	});
});
</script>
<% if @array_of_events.empty? %>
<div id="no_results">No events found :(</div>
<% end %>
<% if @array_of_events.size > 5%>
<a href="#" id="more">More</a>
<a href='#' id="back_to_top">Back to Top</a>
<% end %>
<% else %>
<div id="block_header">Upcoming Events</div>
<ul id="catshowpage">
<% @array_of_events.each do |event| %>
<li><a href="/events/<%= event.id %>">
	<% if event.photo.file? %>
	<%= image_tag event.photo.url(:small), :height => 100, :width => 100 %>
	<% else %>
	<%= image_tag ("questionmark.png"), :height => 100, :width => 100 %>
	<% end %>
</a>

<div id="eventwords">
	<p id="event_title"><%= event.name %></p>
	<% if event.date %>
	On <%= @months[event.date.month - 1] %> <%= event.date.day %>, <%= event.date.year %> at <% if(event.time.hour>12)%> <%= (event.time.hour-12) %>:<%= event.time.min %> PM <% else %><%= event.time.hour %>:<%= event.time.min %> AM<% end %><br />
	<% end %>
	<i><%= event.description %></i> <br />
	<% if event.facebooklink%>
	<a href="http://www.facebook.com/event.php?eid=<%= event.facebooklink %>"><b>Link to Facebook Event</b></a>	
	<% end %>
</div>
</li>


<% end %>
</ul>

<script type="text/javascript">
$(document).ready(function(){
	var from = 0, to = 5, step = 5, maxSize = <%= @array_of_events.size %>;
	
	function showNext(list) {
	  list.find('li:lt(' + (to) + '):not(li:lt(' + (to-step) + '))').fadeIn();
	  $("html, body").animate({ scrollTop: 300*(to/5)}, 1000);
	  
	  if(to >= maxSize){
	  	$('#more').hide();
	  	$('#back_to_top').show();
	  }
	  to+= step;
	}
	function start(list){
		list.find('li').hide().end().find('li:lt(' + (to) + '):not(li:lt(' + from + '))').show();
		to+= step;
		if(to >= maxSize){
		  	$('#more').hide();
		  	$('#back_to_top').show();
	  }
	}
	start($('ul#catshowpage'));
	$('#more').click(function(e){
		e.preventDefault();
		showNext($('ul#catshowpage'));
	});
	$('#back_to_top').click(function(e){
		e.preventDefault();
		$("html, body").animate({ scrollTop: 0 }, 700);
	});
});
</script>
<% if @array_of_events.empty? %>
<div id="no_results">No events found :(</div>
<% end %>
<% if @array_of_events.size > 5%>
<a href="#" id="more">More</a>
<a href='#' id="back_to_top">Back to Top</a>
<% end %>
<% end %>
