<div class="cattitle"><%= @title %></div>

<% @array_of_events.each do |event| %>
<a href="/events/<%= event.id %>"><div class="eventlisting">
	<div class="eventphoto">
	<% if event.photo.file? %>
	<%= image_tag event.photo.url(:small) %>
	<% else %>
	<%= image_tag ("questionmark.png"), :height => 150, :width => 120 %>
	<% end %>
	</div>
<div id="eventdetails">
<p>
	<%= event.name %><br />
	On <%= @months[event.month - 1] %> <%= event.day %>, <%= event.year %> at <%= @times[event.time - 1] %>	in <%= event.location %><br />
	Description: <%= event.description %> <br />
	Link to Facebook Event:  <%= event.facebooklink %>	<br />
</p>
</div>
</div>
<%= image_tag ("rails.png")%>
</a>
<% end %>
