<td class="event-thumb">
  <% if (photo_content_type) { %>
    <img src="<%= photo_url_small %>" width=100></img>
  <% } else if (facebook_id) { %>
    <img src="https://graph.facebook.com/<%= facebook_id %>/picture?type=normal" width=100></img>
  <% } else { %>
    <img width=100></img>
  <% } %>
</td>

<td class="event-time">
  <% if (start_time) { %>
    <h5 class="humane-time">
      <%= moment(start_time).from(moment()) %>
    </h5>
    <h6 class="date-time">
      <%= moment(start_time).format('M/D/YY h:mmA') %>
    </h6>
  <% } %>
  <div class="attending-control"></div>
</td>

<td class="event-description">
  <h3>
    <% if (facebook_id) { %>
      <a href="http://www.facebook.com/event.php?eventid=<%= facebook_id %>"><%= name %></a>
    <% } else { %>
      <%= name %>
    <% } %>
  </h3>
  <p>
    <%= description %>
  </p>
</td>

<td class="event-menu">
  <a href="#/<%= id %>">Show</a>
  <a href="#/<%= id %>/edit">Edit</a>
  <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
</td>
