<td>
  <% if (photo_content_type) { %>
    <img src="<%= photo_url_small %>" width=100 height=100></img>
  <% } else if (facebook_id) { %>
    <img src="https://graph.facebook.com/<%= facebook_id %>/picture?type=normal" width=100 height=100></img>
  <% } else { %>
    <img width=100 height=100></img>
  <% } %>
</td>

<td>
  <% if (start_time) { %>
    <p class="date-time">
      <%= moment(start_time).format('M/D/YY h:mmA') %>
    </p>
  <% } %>
</td>

<td>
  <h3>
    <% if (facebook_id) { %>
      <a href="http://www.facebook.com/event.php?eventid=<%= facebook_id %>"><%= name %></a>
    <% } else { %>
      <%= name %>
    <% } %>
  </h3>
</td>

<td>
  <a href="#/<%= id %>">Show</a>
  <a href="#/<%= id %>/edit">Edit</a>
  <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
</td>
