<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'custom', 'jquery-ui-timepicker.css' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js" %>
  <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.js" %>
  <%= javascript_include_tag "jquery-rails.js", "jquery.ui.timepicker.js" %>
  <%= javascript_include_tag 'hoverIntent', 'application', 'scroller_roll.js' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
	        $(document).ready(function() {
                $("#scroller_roll").scroller_roll({
                    title_show: 'disable',//enable  disable
                    time_interval: '17',
                    window_background_color: "#FFFFFF",
                    window_padding: '1',
                    border_size: '10',
                    border_color: '#FFFFFF',
                    images_width: '100',
                    images_height: '100',
                    images_margin: '0',
                    title_size: '12',
                    title_color: 'black',
                    show_count: '10'
                });
            });
</script>

</head>
<body>
	<div id="wrapper">
 <div id="fb-root"></div>
 <script src="http://connect.facebook.net/en_US/all.js"></script>
 <script>
   FB.init({
     appId  : '263515600329607',
     status : true, // check login status
     cookie : true, // enable cookies to allow the server to access the session
     xfbml  : true, // parse XFBML
     oauth : true // enables OAuth 2.0
   });
 </script>
	<div id="top_part">
<div id="logo"><a href="/"><%= image_tag ("logo.gif"), :width => 300 %></div>
				
				
				<ul id="dashboard">
					<% if signed_in? %>
					<li>
					<%= link_to "Sign out", signout_path %>
					</li>
					<li>
					<%= link_to "View all users", allusers_path %>
					</li>
					<li>
					<%= link_to "Profile", current_user %>
					</li>
					<li>
						<%= link_to "Make New Event", new_event_path%>
					</li>
					<% else %>
					<li id="signin">
					<%= link_to "Sign in", signin_path %>
					</li>
					<% end %>
				</ul>
				<% if !signed_in? %>
				<div id="intropara">
				<p id="emphasis">Welcome to EventSalsa, an event catalogue.</p>
					<p id="descrip">To see what's happening on campus, simply click a category below!  To make events,
						it takes a second to signup with Facebook.  The coolest part? You can make 
						any event you make on EventSalsa a Facebook event!</p>
					<div id="signup">
						<%= link_to "Sign up", signup_path %> or Sign-in using Facebook!
						<div id="facebooklogin"><a href="/auth/facebook"><fb:login-button>Log in with Facebook</fb:login-button></a></div>
					</div>
				</div>
				<% end %>
				</div>
  	<section class="success">
		<% flash.each do |key, value| %>
		<div class="flash <%= key %>"><%= value %></div>
		<% end %>
	</section>
	<div id="fb-root"></div>
	  <script src="http://connect.facebook.net/en_US/all.js"></script>
	<div id="mainpagewrapper">
	<ul id="nav">
		<% if @title == "Home"%>
		<li class="selected">
			<%= link_to "All", root_path %>
		</li>
		<%else%>
		<li>
			<%= link_to "All", root_path %>
		</li>
		<% end %>
		<% if @title == "Fraternities"%>
			<li class="selected">
				<%= link_to "Fraternities", fraternities_path %>
			</li>
		<% else %>
			<li>
				<%= link_to "Fraternities", fraternities_path %>
			</li>
		<% end %>
		<% if @title == "Theater" %>
		<li class="selected">
			<%= link_to "Theater", theater_path %>
		</li>
		<% else %>
		<li>
			<%= link_to "Theater", theater_path %>
		</li>
		<% end %>
		<% if @title == "Sports"%>
		<li class="selected">
			<%= link_to "Sports", sports_path %>
		</li>
		<% else %>
		<li>
			<%= link_to "Sports", sports_path %>
		</li>
		<% end %>
		<% if @title == "Arts"%>
		<li class="selected">
			<%= link_to "Arts", arts_path %>
		</li>
		<% else %>
		<li>
			<%= link_to "Arts", arts_path %>
		</li>
		<% end %>
		<% if @title == "Career Networking" %>
		<li class="selected">
			<%= link_to "Career Networking", careernetworking_path %>
		</li>
		<% else %>
		<li>
			<%= link_to "Career Networking", careernetworking_path %>
		</li>
		<% end %>
		<% if @title == "Community Service"%>
			<li class="selected">
				<%= link_to "Community Service", communityservice_path %>
			</li>
			<% else %>
			<li>
				<%= link_to "Community Service", communityservice_path %>
			</li>
			<% end %>
			<% if @title == "Student Council"%>
			<li class="selected">
				<%= link_to "Student Council", stuco_path %>
			</li>
			<% else %>
			<li>
				<%= link_to "Student Council", stuco_path %>
			</li>
			<%end %>
	</ul>
					<div id="searchbar">
					<% form_tag(events_path, {:method => :get}) do %>
					<%= text_field_tag :search, params[:search], :placeholder => "Search events", :id => :search_field %>
					<%= submit_tag "Search!", :name => nil, :id => "search_select" %>
					<% end %>
					</div>

<div id="main">

  <%= yield %>
  </div>
</div>
  <div id="footer">
	<p id="footer-nav">
		<%= link_to "About", about_path %> |
		<%= link_to "Contact", contact_path %>
	</p>
	<p id="footer-descrip">Copyright EventSalsa. <br />  Made in Darien, Connecticut. Hosted by <a href="http://www.heroku.com/">Heroku</a>.</p>
  </div>
</div>
</body>
</html>
