<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
    <%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.js" %>
    <%= yield :head %>
    <%= csrf_meta_tag %>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="image_src" href="http://www.eventsalsa.com/images/monkey.png" />
    <%= render 'layouts/webputty' %>
    <meta property=og:image content="http://www.eventsalsa.com/images/monkey.png"/>
  </head>
  <body>
    <div id="header">
      <header>
        <div id="logo">
          <span class="logo-event">Event</span><span class="logo-salsa">Salsa</span>
        </div>
        <a id="fblike"><fb:like href="https://www.facebook.com/pages/EventSalsa/165333256908690" send="false" width="80" layout="button_count" show_faces="false" action="like" font="" allowTransparency="true"></fb:like></a>
        <nav>
          <%= link_to "Users", allusers_path %>
          <%= link_to "Profile", current_user %>
          <%= link_to "New Event", new_event_path %>
          <% if signed_in? %>
            <%= link_to "Sign out", signout_path %>
          <% else %>
            <%= link_to "Sign in", '/auth/facebook', :id => 'sign_in_clicker' %>
          <% end %>
          <%= link_to "Calendar", calendar_path %>
        </nav>
      </header>
    </div>
    <div id="container">
      <aside>
        <%= form_tag events_path, {:method => :get} do %>
          <%= text_field_tag :search, params[:search], :placeholder => "Search events", class: 'text-field' %>
        <% end %>

        <nav class="categories">
          <% Category.all.each do |c| %>
            <%= link_to c.name, category_events_path(c) %>
          <% end %>
        </nav>
        <div id="spec-image">
          <%= link_to "http://www.columbiaspectator.com/" do %>
            <%= image_tag "spec_logos.png", :width => 150 %>
          <% end %>
        </div>
      </aside>
      <section>
        <div id="fb-root"></div>
        <div id="main">

          <% flash.each do |key, value| %>
            <div class="flash<%= key %>"><%= value %></div>
          <% end %>

          <div id="events"></div>
          <div id="event"></div>
          <%= yield %>

        </div>
      </section>
      <footer>
        <%= link_to "About", about_path %>
        <%= link_to "Contact", contact_path %>
      </footer>
    </div>
  </body>
</html>
