<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'custom','admin','catshow','events', 'users', 'jquery-ui-timepicker.css', "jquery.fancybox.css", 'bootstrap.min.css' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" %>
  <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.js" %>
  <%= javascript_include_tag "jquery-rails.js", "jquery.ui.timepicker.js", "jquery.masonry.min.js", "jquery.fancybox.js" %>
  <%= javascript_include_tag 'application', 'bootstrap' %>
  <link rel="image_src" href="http://www.eventsalsa.com/images/monkey.png" />
<meta property=og:image content="http://www.eventsalsa.com/images/monkey.png"/>


  <%= csrf_meta_tag %>
<LINK REL="SHORTCUT ICON" HREF="/images/favicon.ico">
	
</head>
<body>
  
  <div id="fb-root"></div>
 <script src="http://connect.facebook.net/en_US/all.js"></script>
 <script>
   FB.init({
     appId  : '263515600329607',
     status : true, // check login status
     cookie : true, // enable cookies to allow the server to access the session
     xfbml  : true, // parse XFBML
     oauth : true // enables OAuth 2.0
   });
 </script>

  <div id="top-filler">
  <div id="top">
  		<div id="searchbar">
			  <% form_tag(events_path, {:method => :get}) do %>
          <%= text_field_tag :search, params[:search], :placeholder => "Search events", :id => :search_field %>
					<div id="search_select" class="icon-search" type="submit"></div>
				<% end %>
			</div>

      <div id="logo"><a href="/"><%= image_tag ("new_logo.png"), :height => 35 %></div>
        <a></a>
        <ul id="about-menu" class="nav nav-pills">
          <li>
          <% if !signed_in? %>
          <%= link_to "Login", "/auth/facebook", :class => "title" %>
        <% else %>

          <%= link_to "Log Out",signout_path, :method => :delete, :class => "title" %>
        <% end %>
          </li>
          
          <li class="dropdown">
  
    <a class="dropdown-toggle title"
       data-toggle="dropdown"
       href="#">
        About
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <!-- links -->
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </li>

</ul>
  </div>
</div>
<div id="level-2">
<div id="fixed-nav">
    <div id="nav-menu">
    <ul class="nav nav-pills">
      <li><%= link_to "Most Popular", "#", :class => "title" %></li>

      <li><%= link_to "Featured", "#", :class => "title" %></li>

      <li class="dropdown">
      <a class="dropdown-toggle title"
       data-toggle="dropdown"
       href="#">
       Filter
       <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li></li>
        <li><%= link_to "Greek Life", "#" %></li>

        <li><%= link_to "Theater", "#" %></li>
        <li><%= link_to "Arts", "%" %></li>
        <li><%= link_to "NYC Events", "#" %></li>
      </ul>

      
      
      </li>


    </ul>
    </div>

  </div>
</div>


	<div id="wrapper" class="container-fluid">

	<div id="mainpagewrapper">
					

<div id="main">
  <% if !signed_in?%>

    <div id="intropara" class="hero-unit">
      <a class="close" data-dismiss="hero-unit">×</a>
      <h2>Welcome to EventSalsa, an event catalogue. </h2>
      <p id="descrip">EventSalsa is the best place to find out what awesome events are happening
			at Columbia University.  To start, simply click on a category on the left.  If you 
      want to post events, it takes two seconds to sign up and start posting! <br /><br />  We are now partnered with
      the <a href="http://www.columbiaspectator.com/" class="spec-link"><b>Columbia Daily Spectator</b></a> and its blog, <a href="http://spectrum.columbiaspectator.com/" class="spec-link"><b>Spectrum</b></a> to best serve the Columbia community.<br /><br /> </p>
      <%= link_to "Sign up", '/auth/facebook', :id => "fb-signup", :class => "btn btn-primary btn-large" %>

    </div>
		</div>
	<% end %>
  <%= yield %>
  </div>
</div>
</div>
	<script type="text/javascript">
    
    $("#intropara .close").click(function(){
        $("#intropara").animate({
            height: 0
            }, 200, function(){
              $("#intropara").fadeOut(); 
            });
        
        });
    $(document).ready(function(){
      var height = 55;

      $(window).scroll(function(){
        if($(window).scrollTop() > height){
          $("#level-2").css('position','fixed').css('top',0).next();
          
        }else{

          $("#level-2").css('position', 'static').next().css("padding-top", "none");

        }
      });
        
     });
    
    
    
    $(function(){
					var event_obs = [];
					<% Event.all.each do |event| %>
					event_obs.push("<%= event.name %>");
					<% end %>
					$("#search_field").autocomplete({
						source: event_obs
					});	
				});
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25696864-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>
