<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'custom', 'skin' %>

  <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery-rails.js" %>
  <%= javascript_include_tag 'hoverIntent', 'application', 'jquery.jcarousel' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        // Configuration goes here
        scroll: 1,
        auto: .5,
        wrap: 'circular'
    });
});
</script>
</head>
<body>
	<div id="main_container">
		<div id="header">
		<div id="logo"><a href="/"><%= image_tag ("logo.gif")%></div>
		
	<div id="menu_tab">
			<ul class="menu">
				<li class="mega">
					<a class="categories" href="#">Categories</a>
					<div>
						<p><%= link_to "Fraternities", fraternities_path %></p>
						<p><%= link_to "Theater", theater_path %></p>
						<p><%= link_to "Sports", sports_path %></p>
						<p><%= link_to "Arts", arts_path %></p>
						<p><%= link_to "Career Networking", careernetworking_path %></p>
						<p><%= link_to "Community Service", communityservice_path %></p>
						<p><%= link_to "Student Council", stuco_path %></p>
					</div>	
				</li>
				<li class="mega">
					<a class="about" href="#">About</a>
					<div>
						<p><%= link_to "About", about_path %></p>
						<p><%= link_to "Contact", contact_path %></p>
					</div>
				</li>
				<li class="mega">
					<a class="account" href="#">Account</a>
					<div>
						<% if signed_in? %>
						<p><%= link_to "Profile", current_user %></p>
						<p><%= link_to "View all users", allusers_path%></p>
						<p><%= link_to "Sign out", signout_path %></p>
						<% else %>
						<p><%= link_to "Sign in", signin_path %></p>
						<% end %>
					</div>
				</li>
			</ul>
  </div>
  </div>
  	<section class="success">
		<% flash.each do |key, value| %>
		<div class="flash <%= key %>"><%= value %></div>
		<% end %>
	</section>
	
  <%= yield %>
  </div>
</body>
</html>
