<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
    <%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" %>
    <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.js" %>
    <%= javascript_include_tag 'application' %>
    <%= yield :head %>
    <%= csrf_meta_tag %>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="image_src" href="http://www.eventsalsa.com/images/monkey.png" />
    <meta property=og:image content="http://www.eventsalsa.com/images/monkey.png"/>
  </head>
  <body>
    <header>
      <div id="logo">
        <span class="logo-event">Event</span><span class="logo-salsa">Salsa</span>
      </div>
        <a id="fblike"><fb:like href="https://www.facebook.com/pages/EventSalsa/165333256908690" send="false" width="80" layout="button_count" show_faces="false" action="like" font=""></fb:like></a>
      <nav>
        <% if signed_in? %>
          <%= link_to "Users", allusers_path %>
          <%= link_to "Profile", current_user %>
          <%= link_to "New Event", new_event_path %>
          <%= link_to "Sign out", signout_path %>
        <% else %>
          <%= link_to "Sign in", '/auth/facebook', :id => 'sign_in_clicker' %>
        <% end %>
        <%= link_to "Calendar", calendar_path %>
      </nav>
    </header>
    <div id="container">
        <aside>
          <%= form_tag events_path, {:method => :get} do %>
            <%= text_field_tag :search, params[:search], :placeholder => "Search events", :id => :search_field %>
            <button id="search_select" type="submit"></button>
          <% end %>
    
          <nav>
            <% Category.all.each do |c| %>
              <%= link_to c.name, category_events_path(c) %>
            <% end %>
          </nav>
          <div id="spec-image">
            <%= link_to "http://www.columbiaspectator.com/" do %>
              <%= image_tag "spec_logos.png", :width => 150 %>
            <% end %>
          </div>
        </aside>
        <section>
          <div id="fb-root"></div>
          <div id="main">
    
            <% flash.each do |key, value| %>
              <div class="flash<%= key %>"><%= value %></div>
            <% end %>
    
            <% if !signed_in?%>
              <div id="intropara">
                <h1>Welcome to EventSalsa, an event catalogue.</h1>
                <p>EventSalsa is the best place to find out what awesome events are happening
                  at Columbia University.  To start, simply click on a category on the left.  If you 
                  want to post events, it takes two seconds to sign up and start posting!
                </p>
                <p>
                  We are now partnered with the <a href="http://www.columbiaspectator.com/" class="spec-link"><b>Columbia Daily Spectator</b></a> and its blog, <a href="http://spectrum.columbiaspectator.com/" class="spec-link"><b>Spectrum</b></a> to best serve the Columbia community.
                </p>
                <div id="signup">
                  <%= link_to "Sign up", '/auth/facebook', :id => "email_login" %>
                </div>
              </div>
            <% end %>
    
            <%= yield %>
            <% if content_for?(:catshowpage) %>
              <%= yield :catshowpage %>
            <% end %>
    
          </div>
          <footer>
            <%= link_to "About", about_path %>
            <%= link_to "Contact", contact_path %>
          </footer>
        </section>
    </div>
  </body>
</html>
