<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "http://connect.facebook.net/en_US/all.js" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.js" %>

    <%= yield :head %>

    <%= csrf_meta_tag %>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="image_src" href="http://www.eventsalsa.com/images/monkey.png" />
    <meta property=og:image content="http://www.eventsalsa.com/images/monkey.png"/>
  </head>
  <body>
    <div id="application" class="container">
      <%= yield %>
    </div>
  </body>
</html>
