<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'custom', 'jquery-ui-timepicker.css' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js" %>
  <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.js" %>
  <%= javascript_include_tag "jquery-rails.js", "jquery.ui.timepicker.js" %>
  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tag %>
<LINK REL="SHORTCUT ICON" HREF="/images/favicon.ico">
	
</head>
<body>
	<div id="dim">
		
		<div class="highlighted_content">
			<%= link_to 'x', '#', :class => 'close' %>
<div id="signuppage">
	<div id="facebook_signup">
		<p id="facebook_signup_title">Sign up with Facebook!</p>
		<p id="facebook_signup_descrip">Signing up with Facebook is super easy, all it takes is one click!  </p>
		<div id="facebooklogin"><a href="/auth/facebook"><fb:login-button>Sign up with Facebook!</fb:login-button></a></div>
	</div>
<%= form_for User.new, :html => { :multipart => true, :id => 'flash_form' } do |f| %>
  	<div id="signup_form_intro">
		If you are abnormal (or born before 1980) and don't have a Facebook, don't worry, I have you
		covered too! Simply sign up with your email below!
	</div>
	<ul>
		
		<li>
    <p><label for="name">Name</label></p>
    <%= f.text_field :name %>
  </li>
  
  <li>
    <p><label for="email">Email</label></p>
    <%= f.text_field :email %>
  </li>
    <li>
    <p><label for="password">Password</label></p>
    <%= f.password_field :password %>
  </li>
  <li>
   <p><label for="password_confirmation">Password Confirmation</label></p>
    <%= f.password_field :password_confirmation %>
  </li>

  <li>
  	<p><label for="avatar">Profile Picture</label></p>
  	<%= f.file_field :avatar, :class => 'no_border' %>
  </li>
  
  <li>
     <button class="submitter" id="session_submit" name="commit" type="submit">Sign up</button>
  </li>
  </ul>
<% end %>
</div>
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#dim').css("height", $(document).height());
		$('#email_login').click(function(e){
			$("#dim").fadeIn();
			$(".highlighted_content").fadeIn();
			$(".highlighted_content").animate({height: '480px'}, {queue:false, duration:1500});
			return false;
		});
		$('.close').click(function(e){
			$('.highlighted_content').animate({height: '5px'}, {queue:false, duration:1500});
			$('.highlighted_content').fadeOut();
			$('#dim').fadeOut();
		});
	});
	</script>
	<div id="wrapper">
 <div id="fb-root"></div>
 <script src="http://connect.facebook.net/en_US/all.js"></script>
 <script>
   FB.init({
     appId  : '263515600329607',
     status : true, // check login status
     cookie : true, // enable cookies to allow the server to access the session
     xfbml  : true, // parse XFBML
     oauth : true // enables OAuth 2.0
   });
 </script>
	<div id="top_part">
<div id="logo"><a href="/"><%= image_tag ("EventSalsa.png"), :width => 300 %></div>
					
				<% if signed_in? %>
				<ul id="dashboard">
					<li>
					<%= link_to "Sign out", signout_path %>
					</li>
					<li>
						<%= link_to "View Calendar", calendar_path %>
					</li>
					<li>
					<%= link_to "View users", allusers_path %>
					</li>
					<li>
					<%= link_to "Profile", current_user %>
					</li>
					<li>
						<%= link_to "Create Event", new_event_path%>
					</li>
					<li>
					<% if(@title=="All Users" || @title=="Search Users")%>
					<div id="searchbar">
					<% form_tag(users_path, {:method => :get}) do%>
					<%= text_field_tag :search, params[:search], :placeholder => "Search users", :id => :search_field%>
					<button id="search_select" type="submit">Go!</button>
					<% end %>
					</div>
					<% else %>
					<div id="searchbar">
					<% form_tag(events_path, {:method => :get}) do %>
					<%= text_field_tag :search, params[:search], :placeholder => "Search events", :id => :search_field %>
					<button id="search_select" type="submit">Go!</button>
					<% end %>
					</div>
					<% end %>
					</li>
				</ul>
				<% else %>
				<ul id="dashboard_signin">
					<li id="signin">
					<%= link_to "Sign in", '#', :id => 'sign_in_clicker' %>
										<div id="signin_form">
					<%= form_for(:session, :url => {:controller => :sessions, :action => :create}) do |f|%>
						    <p><%= f.label :email %><br />
						    <%= f.text_field :email, :size => 10 %></p>
						    <p><%= f.label :password %><br />
						    <%= f.password_field :password, :size => 10 %></p>
						    <button id="session_submit" name="commit" type="submit">Sign in</button>
					<% end %>
					</div>
					</li>
					<li>
					<div id="searchbar">
					<% form_tag(events_path, {:method => :get}) do %>
					<%= text_field_tag :search, params[:search], :placeholder => "Search events", :id => :search_field %>
					<button id="search_select" type="submit">Go!</button>
					<% end %>
					</div>

					</li>
				</ul>
				<% end %>
				<script type="text/javascript">
				$(document).ready(function(){
					var boo = 1
					$('#sign_in_clicker').click(function(e){
						if(boo == 1){
							$('#signin_form').fadeIn();
							$('#signin_form').animate({height: '60px'}, {queue:false, duration:600});
							boo = 0;
						}else{
							$('#signin_form').animate({height: '5px'}, {queue:false, duration:600});
							$('#signin_form').fadeOut();
							boo = 1;
						}
					});
				});
				</script>
				</div>

	<div id="mainpagewrapper">
	<ul id="nav">
		<% if(@title == "All" || (@title=="Home" && signed_in?)) %>
		<li class="selected">
			<%= link_to "All", all_path %>
		</li>
		<%else%>
		<li class="unselected">
			<%= link_to "All", all_path %>
		</li>
		<% end %>
		<% if @title == "Greek Life"%>
			<li class="selected">
				<%= link_to "Greek Life", glife_path %>
			</li>
		<% else %>
			<li class="unselected">
				<%= link_to "Greek Life", glife_path %>
			</li>
		<% end %>
		<% if @title == "Theater" %>
		<li class="selected">
			<%= link_to "Theater", theater_path %>
		</li>
		<% else %>
		<li class="unselected">
			<%= link_to "Theater", theater_path %>
		</li>
		<% end %>
		<% if @title == "Sports"%>
		<li class="selected">
			<%= link_to "Sports", sports_path %>
		</li>
		<% else %>
		<li class="unselected">
			<%= link_to "Sports", sports_path %>
		</li>
		<% end %>
		<% if @title == "Arts"%>
		<li class="selected">
			<%= link_to "Arts", arts_path %>
		</li>
		<% else %>
		<li class="unselected">
			<%= link_to "Arts", arts_path %>
		</li>
		<% end %>
		<% if @title == "Career Networking" %>
		<li class="selected">
			<%= link_to "Career Networking", careernetworking_path %>
		</li>
		<% else %>
		<li class="unselected">
			<%= link_to "Career Networking", careernetworking_path %>
		</li>
		<% end %>
		
		<% if @title == "Politics"%>
				<li class="selected">
			<%= link_to "Politics", politics_path %>
		</li>
		<% else %>
		<li class="unselected">
			<%= link_to "Politics", politics_path %>
		</li>
		
		<% end %>
		<% if @title == "Community Service"%>
			<li class="selected">
				<%= link_to "Community Service", communityservice_path %>
			</li>
			<% else %>
			<li class="unselected">
				<%= link_to "Community Service", communityservice_path %>
			</li>
			<% end %>
			<% if @title == "Student Council"%>
			<li class="selected">
				<%= link_to "Student Council", stuco_path %>
			</li>
			<% else %>
			<li class="unselected">
				<%= link_to "Student Council", stuco_path %>
			</li>
			<%end %>
			<% if @title == "Other"%>
			<li class="selected">
				<%= link_to "Other", other_path %>
			</li>
			<% else %>
			<li class="unselected">
				<%= link_to "Other", other_path %>
			</li>
			<%end %>
	</ul>

					

<div id="main">
  	<section class="success">
		<% flash.each do |key, value| %>
		<div class="flash<%= key %>"><%= value %></div>
		<% end %>
	</section>
  <%= yield %>
  </div>
</div>
  <div id="footer">
	<p id="footer-nav">
		<%= link_to "About", about_path %> |
		<%= link_to "Contact", contact_path %>
	</p>
	<p id="footer-descrip">Copyright EventSalsa.</p>
  </div>
</div>
</body>
</html>
