<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'custom', 'dribble', 'jquery-ui-timepicker.css' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js" %>
  <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.js" %>
  <%= javascript_include_tag "jquery-rails.js", "jquery.ui.timepicker.js" %>
  <%= javascript_include_tag 'hoverIntent', 'application', 'scroller_roll.js' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
	        $(document).ready(function() {
                $("#scroller_roll").scroller_roll({
                    title_show: 'disable',//enable  disable
                    time_interval: '17',
                    window_background_color: "#FFFFFF",
                    window_padding: '1',
                    border_size: '10',
                    border_color: '#FFFFFF',
                    images_width: '100',
                    images_height: '100',
                    images_margin: '0',
                    title_size: '12',
                    title_color: 'black',
                    show_count: '10'
                });
            });
</script>

</head>
<body>
 <div id="fb-root"></div>
 <script src="http://connect.facebook.net/en_US/all.js"></script>
 <script>
   FB.init({
     appId  : '263515600329607',
     status : true, // check login status
     cookie : true, // enable cookies to allow the server to access the session
     xfbml  : true, // parse XFBML
     oauth : true // enables OAuth 2.0
   });
 </script>
	<div id="maincontainer">
		<div id="header" class="group"><div id="header-inner" class="group">
	
<div id="logo"><a href="/"><%= image_tag ("logo.gif")%></div>
	<ul id="nav">
			<li id="t-signin">
				<ul>
					<% if signed_in? %>
					<li>
					<%= link_to "Sign out", signout_path %>
					</li>
					<li>
					<%= link_to "View all users", allusers_path %>
					</li>
					<li>
					<%= link_to "Profile", current_user %>
					</li>
					<% else %>
					<li>
					<%= link_to "Sign in", signin_path %>
					</li>
					<% end %>
				</ul>
			</li>
			<li id="t-shots">
				<%= link_to "Fraternities", fraternities_path %>
			</li>
		<li id="t-players">

			<%= link_to "Theater", theater_path %>


		</li>
		<li id="t-explore">
			<%= link_to "Sports", sports_path %>
		</li>
		<li id="t-explore">
			<li><%= link_to "Arts", arts_path %></li>
		</li>
		<li id="t-explore">
			<%= link_to "Career Networking", careernetworking_path %>
		</li>
			<li id="t-about">
				<%= link_to "Community Service", communityservice_path %>
			</li>
			<li id="t-about">
				<%= link_to "Student Council", stuco_path %>
			</li>
	
	</ul>
</div></div> 

  	<section class="success">
		<% flash.each do |key, value| %>
		<div class="flash <%= key %>"><%= value %></div>
		<% end %>
	</section>
	<div id="fb-root"></div>
	  <script src="http://connect.facebook.net/en_US/all.js"></script>

  <%= yield %>
  <div id="footer"><div id="footer-inner">
	<p id="footer-nav">
		<%= link_to "About", about_path %> |
		<%= link_to "Contact", contact_path %>

	
	</p>
	<p>Copyright EventSalsa. <br />  Handcrafted in Darien, Connecticut. Hosted by <a href="http://www.heroku.com/">Heroku</a>.</p>

</div></div>
  </div>
</body>
</html>
