<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'custom', 'jquery-ui-timepicker.css' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js" %>
  <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.js" %>
  <%= javascript_include_tag "jquery-rails.js", "jquery.ui.timepicker.js" %>
  <%= javascript_include_tag 'hoverIntent', 'application', 'scroller_roll.js' %>
  
  <%= csrf_meta_tag %>
<LINK REL="SHORTCUT ICON" HREF="/images/favicon.ico">
	
</head>
<body>
	<div id="wrapper">
 <div id="fb-root"></div>
 <script src="http://connect.facebook.net/en_US/all.js"></script>
 <script>
   FB.init({
     appId  : '263515600329607',
     status : true, // check login status
     cookie : true, // enable cookies to allow the server to access the session
     xfbml  : true, // parse XFBML
     oauth : true // enables OAuth 2.0
   });
 </script>
	<div id="top_part">
<div id="logo"><a href="/"><%= image_tag ("EventSalsa.png"), :width => 300 %></div>
				
				<% if signed_in? %>
				<ul id="dashboard">
					
					<li>
					<%= link_to "Sign out", signout_path %>
					</li>
					<li>
					<%= link_to "View all users", allusers_path %>
					</li>
					<li>
					<%= link_to "Profile", current_user %>
					</li>
					<li>
						<%= link_to "Make New Event", new_event_path%>
					</li>
				</ul>
				<% else %>
				<ul id="dashboard_signin">
					<li id="signin">
					<%= link_to "Sign in", signin_path %>
					</li>
				</ul>
				<% end %>
				</div>

	<div id="mainpagewrapper">
	<ul id="nav">
		<% if(@title == "All" || (@title=="Home" && signed_in?)) %>
		<li class="selected">
			<%= link_to "All", all_path %>
		</li>
		<%else%>
		<li class="unselected">
			<%= link_to "All", all_path %>
		</li>
		<% end %>
		<% if @title == "Fraternities"%>
			<li class="selected">
				<%= link_to "Fraternities", fraternities_path %>
			</li>
		<% else %>
			<li class="unselected">
				<%= link_to "Fraternities", fraternities_path %>
			</li>
		<% end %>
		<% if @title == "Theater" %>
		<li class="selected">
			<%= link_to "Theater", theater_path %>
		</li>
		<% else %>
		<li class="unselected">
			<%= link_to "Theater", theater_path %>
		</li>
		<% end %>
		<% if @title == "Sports"%>
		<li class="selected">
			<%= link_to "Sports", sports_path %>
		</li>
		<% else %>
		<li class="unselected">
			<%= link_to "Sports", sports_path %>
		</li>
		<% end %>
		<% if @title == "Arts"%>
		<li class="selected">
			<%= link_to "Arts", arts_path %>
		</li>
		<% else %>
		<li class="unselected">
			<%= link_to "Arts", arts_path %>
		</li>
		<% end %>
		<% if @title == "Career Networking" %>
		<li class="selected">
			<%= link_to "Career Networking", careernetworking_path %>
		</li>
		<% else %>
		<li class="unselected">
			<%= link_to "Career Networking", careernetworking_path %>
		</li>
		<% end %>
		
		<% if @title == "Politics"%>
				<li class="selected">
			<%= link_to "Politics", politics_path %>
		</li>
		<% else %>
		<li class="unselected">
			<%= link_to "Politics", politics_path %>
		</li>
		
		<% end %>
		<% if @title == "Community Service"%>
			<li class="selected">
				<%= link_to "Community Service", communityservice_path %>
			</li>
			<% else %>
			<li class="unselected">
				<%= link_to "Community Service", communityservice_path %>
			</li>
			<% end %>
			<% if @title == "Student Council"%>
			<li class="selected">
				<%= link_to "Student Council", stuco_path %>
			</li>
			<% else %>
			<li class="unselected">
				<%= link_to "Student Council", stuco_path %>
			</li>
			<%end %>
			<% if @title == "Other"%>
			<li class="selected">
				<%= link_to "Other", other_path %>
			</li>
			<% else %>
			<li class="unselected">
				<%= link_to "Other", other_path %>
			</li>
			<%end %>
	</ul>
					<% if(@title=="All Users")%>
					<div id="searchbar">
					<% form_tag(users_path, {:method => :get}) do%>
					<%= text_field_tag :search, params[:search], :placeholder => "Search users", :id => :search_field%>
					<button id="search_select" type="submit">Search!</button>
					<% end %>
					</div>
					<% else %>
					<div id="searchbar">
					<% form_tag(events_path, {:method => :get}) do %>
					<%= text_field_tag :search, params[:search], :placeholder => "Search events", :id => :search_field %>
					<button id="search_select" type="submit">Search!</button>
					<% end %>
					</div>
					<% end %>
					<!--<%= link_to "View Calendar", calendar_path, :id => "calendar_link" %>-->

<div id="main">
  	<section class="success">
		<% flash.each do |key, value| %>
		<div class="flash<%= key %>"><%= value %></div>
		<% end %>
	</section>
  <%= yield %>
  </div>
</div>
  <div id="footer">
	<p id="footer-nav">
		<%= link_to "About", about_path %> |
		<%= link_to "Contact", contact_path %>
	</p>
	<p id="footer-descrip">Copyright EventSalsa.</p>
  </div>
</div>
</body>
</html>
